// TT SQUARES

@font-face {
  font-family: 'tt_squaresbold';
  src: url('/assets/fonts/squares_bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/squares_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_squareslight';
  src: url('/assets/fonts/squares_light-webfont.woff2') format('woff2'),
       url('/assets/fonts/squares_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt_squaresregular';
  src: url('/assets/fonts/squares_regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/squares_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
