/*
 * ------------------------------------------------------------------------
 * COLORS
 * ------------------------------------------------------------------------
 */
$white:       #FFF;
$black:       #2C3033;
$gray:        #9DA9B7;
$pink:        #EA4876;
$purple:      #716EB0;
$purple_mid:  #3E3B78;
$purple_dark: #222143;
$blue:        #326FAB;
$cyan:        #50C5DB;
$green:       #61BC66;
$red:         #BA393D;
$orange:      #F08942;
$yellow:      #F3EC49;

/*
 * ------------------------------------------------------------------------
 * FONTS
 * ------------------------------------------------------------------------
 */
$font-size-smallest: 9px;
$font-size-smaller:  10px;
$font-size-small:    11px;
$font-size-medium:   15px;
$font-size-large:    18px;
$font-size-larger:   20px;
$font-size-big:      28px;

$font-family-squares_black: 'tt_squaresblack', sans-serif;
$font-family-squares_bold: 'tt_squaresbold', sans-serif;
$font-family-squares_light: 'tt_squareslight', sans-serif;
$font-family-squares_regular: 'tt_squaresregular', sans-serif;
$font-family-squares_thin: 'tt_squaresthin', sans-serif;

/*
 * ------------------------------------------------------------------------
 * COMPONENTS
 * ------------------------------------------------------------------------
 */
 $border-radius-base: 3px;
 $border-radius-large: 50px;
 $border-rounded: 50%;